### Python Section 1:

In [1]:
import pandas as pd

In [6]:
from typing import Dict, List

In [7]:
def reverse_by_n_elements(lst: List[int], n: int) -> List[int]:
    """
    Reverses the input list by groups of n elements.
    """
     # Traverse the list in chunks of size 'n'
    for i in range(0, len(lst), n):
        # Determine the end index for the current group
        end = min(i + n, len(lst))
        
        # Manually reverse the group by swapping elements
        left = i
        right = end - 1
        while left < right:
            lst[left], lst[right] = lst[right], lst[left]
            left += 1
            right -= 1
    return lst

In [8]:
print(reverse_by_n_elements([1, 2, 3, 4, 5, 6, 7, 8], 3))

[3, 2, 1, 6, 5, 4, 8, 7]

In [9]:
def group_by_length(lst: List[str]) -> Dict[int, List[str]]:
    """
    Groups the strings by their length and returns a dictionary.
    """
    # Initialize an empty dictionary to hold the groups
    length_dict = {}
    
    # Loop through each string in the list
    for s in lst:
        length = len(s)
        
        # Add the string to the corresponding list in the dictionary
        if length not in length_dict:
            length_dict[length] = []
        length_dict[length].append(s)
    
    # Return the dictionary sorted by keys (lengths)
    return dict(sorted(length_dict.items()))

In [10]:
print(group_by_length(["apple", "bat", "car", "elephant", "dog", "bear"]))

{3: ['bat', 'car', 'dog'], 4: ['bear'], 5: ['apple'], 8: ['elephant']}

In [11]:
print(group_by_length(["one", "two", "three", "four"]))

{3: ['one', 'two'], 4: ['four'], 5: ['three']}

In [20]:
def flatten_dict(nested_dict: Dict, sep: str = '.') -> Dict:
 def _flatten(current_dict, parent_key=''):
        items = []
        for k, v in current_dict.items():
            new_key = f"{parent_key}{sep}{k}" if parent_key else k  # Create the new key
            if isinstance(v, dict):  # If value is a dict, recurse
                items.extend(_flatten(v, new_key).items())
            elif isinstance(v, list):  # If value is a list, flatten by index
                for i, item in enumerate(v):
                    list_key = f"{new_key}[{i}]"
                    if isinstance(item, dict):
                        items.extend(_flatten(item, list_key).items())
                    else:
                        items.append((list_key, item))
            else:  # If it's neither dict nor list, just append it
                items.append((new_key, v))
        return dict(items)
 return _flatten(nested_dict)

nested_dict = {
    "road": {
        "name": "Highway 1",
        "length": 350,
        "sections": [
            {
                "id": 1,
                "condition": {
                    "pavement": "good",
                    "traffic": "moderate"
                }
            }
        ]
    }
}

In [21]:
print(flatten_dict(nested_dict))

{'road.name': 'Highway 1', 'road.length': 350, 'road.sections[0].id': 1, 'road.sections[0].condition.pavement': 'good', 'road.sections[0].condition.traffic': 'moderate'}

In [22]:
def unique_permutations(nums: List[int]) -> List[List[int]]:
    """
    Generates all unique permutations of the given list of integers.
    
    :param nums: A list of integers that may contain duplicates
    :return: A list of unique permutations
    """
    def backtrack(path, used):
        # If the current path is a complete permutation, add it to the result
        if len(path) == len(nums):
            result.append(path[:])
            return
        
        for i in range(len(nums)):
            # Skip used elements or duplicate elements to avoid redundant work
            if used[i] or (i > 0 and nums[i] == nums[i - 1] and not used[i - 1]):
                continue
            
            # Mark the element as used and recurse
            used[i] = True
            path.append(nums[i])
            backtrack(path, used)
            # Backtrack: Unmark the element and remove it from the path
            used[i] = False
            path.pop()
    
    nums.sort()  # Sort the list to handle duplicates
    result = []
    used = [False] * len(nums)  # Track used elements
    backtrack([], used)
    return result

# Test case
print(unique_permutations([1, 1, 2]))

[[1, 1, 2], [1, 2, 1], [2, 1, 1]]

In [23]:
import re

def find_all_dates(text: str) -> List[str]:
    """
    This function takes a string as input and returns a list of valid dates
    in 'dd-mm-yyyy', 'mm/dd/yyyy', or 'yyyy.mm.dd' format found in the string.
    
    Parameters:
    text (str): A string containing the dates in various formats.

    Returns:
    List[str]: A list of valid dates in the formats specified.
    """
    # Regular expression pattern for matching dates in the specified formats
    date_pattern = r"\b\d{2}-\d{2}-\d{4}\b|\b\d{2}/\d{2}/\d{4}\b|\b\d{4}\.\d{2}\.\d{2}\b"
    
    # Find all matches using the regular expression
    matches = re.findall(date_pattern, text)
    
    return matches

# Test case
text = "I was born on 23-08-1994, my friend on 08/23/1994, and another one on 1994.08.23."
print(find_all_dates(text))

['23-08-1994', '08/23/1994', '1994.08.23']

In [26]:
import pandas as pd
import polyline
from math import radians, sin, cos, sqrt, atan2
from typing import List, Tuple

def haversine(coord1: Tuple[float, float], coord2: Tuple[float, float]) -> float:
    """
    Calculate the Haversine distance between two (latitude, longitude) coordinates.
    
    Args:
        coord1 (tuple): A tuple representing the first point (latitude, longitude).
        coord2 (tuple): A tuple representing the second point (latitude, longitude).
    
    Returns:
        float: The distance between the two points in meters.
    """
    R = 6371000  # Radius of Earth in meters
    lat1, lon1 = radians(coord1[0]), radians(coord1[1])
    lat2, lon2 = radians(coord2[0]), radians(coord2[1])
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    return R * c

def polyline_to_dataframe(polyline_str: str) -> pd.DataFrame:
    """
    Converts a polyline string into a DataFrame with latitude, longitude, and distance between consecutive points.
    
    Args:
        polyline_str (str): The encoded polyline string.

    Returns:
        pd.DataFrame: A DataFrame containing latitude, longitude, and distance in meters.
    """
    # Decode the polyline string to a list of (latitude, longitude) coordinates
    coordinates = polyline.decode(polyline_str)
    
    # Create a DataFrame from the coordinates
    df = pd.DataFrame(coordinates, columns=['latitude', 'longitude'])
    
    # Initialize the distance column
    distances = [0]  # First row has 0 distance
    
    # Calculate the distance between successive rows using the Haversine formula
    for i in range(1, len(coordinates)):
        coord1 = coordinates[i - 1]
        coord2 = coordinates[i]
        distance = haversine(coord1, coord2)
        distances.append(distance)
    
    # Add the distance column to the DataFrame
    df['distance'] = distances
    
    return df

# Test case
polyline_str = "}_p~F~ps|U_ulLnnqC_mqNvxq`@"
df = polyline_to_dataframe(polyline_str)
print(df)

   latitude  longitude       distance
0  41.86639   -120.200       0.000000
1  44.06639   -120.950  252122.397509
2  46.61839   -126.453  515078.047668

In [25]:
pip install polyline

Collecting polylineNote: you may need to restart the kernel to use updated packages.

  Downloading polyline-2.0.2-py3-none-any.whl.metadata (6.4 kB)
Downloading polyline-2.0.2-py3-none-any.whl (6.0 kB)
Installing collected packages: polyline
Successfully installed polyline-2.0.2

In [28]:


def rotate_and_multiply_matrix(matrix: List[List[int]]) -> List[List[int]]:
    """
    Rotate the given matrix by 90 degrees clockwise, then replace each element 
    by the sum of all elements in the same row and column (excluding itself).
    
    Args:
    - matrix (List[List[int]]): 2D list representing the matrix to be transformed.
    
    Returns:
    - List[List[int]]: A new 2D list representing the transformed matrix.
    """
    n = len(matrix)
    
    # Step 1: Rotate the matrix by 90 degrees clockwise
    rotated_matrix = [[0] * n for _ in range(n)]  # Initialize the rotated matrix
    for i in range(n):
        for j in range(n):
            rotated_matrix[j][n - 1 - i] = matrix[i][j]
    
    # Step 2: Replace each element with the sum of its row and column (excluding itself)
    final_matrix = [[0] * n for _ in range(n)]  # Initialize the final matrix
    for i in range(n):
        for j in range(n):
            row_sum = sum(rotated_matrix[i])  # Sum of the current row
            col_sum = sum(rotated_matrix[k][j] for k in range(n))  # Sum of the current column
            final_matrix[i][j] = row_sum + col_sum - rotated_matrix[i][j]  # Subtract the element itself
    
    return final_matrix

# Test case
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = rotate_and_multiply_matrix(matrix)
print(result)

[[29, 23, 17], [31, 25, 19], [33, 27, 21]]

In [42]:
df = pd.read_csv(filepath_or_buffer="E:/dataset-1.csv", 
                              sep=',')
df.head()

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6

In [38]:


# Inspect the DataFrame
print(df.head())

# Convert date columns to datetime with specified format
df['startDay'] = pd.to_datetime(df['startDay'], format='%d-%m-%Y', errors='coerce')
df['endDay'] = pd.to_datetime(df['endDay'], format='%d-%m-%Y', errors='coerce')

# Check for invalid dates
print("Invalid startDay entries:")
print(df[df['startDay'].isna()])

print("Invalid endDay entries:")
print(df[df['endDay'].isna()])

     ï»¿id        name     id_2  startDay startTime     endDay   endTime  \
0  1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
1  1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
2  1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
3  1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
4  1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59

   able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0        3.0        3.0       -1.0         -1          3          3
1        6.0        6.0       -1.0         -1          6          6
2        3.0        3.0       -1.0         -1          3          3
3        6.0        6.0       -1.0         -1          6          6
4        6.0        6.0        NaN         -1          6          6

   able4Hov2  able4Hov3
0          3          3
1          6          6
2          3          3
3          6          6
4          6          6
Invalid startDay entries:
         ï»¿id        name     id_2 startDay startTime endDay   endTime  \
0      1040000  Montgomery       -1      NaT  05:00:00    NaT  10:00:00
1      1040010       Black       -1      NaT  10:00:00    NaT  15:00:00
2      1040020     Emerald       -1      NaT  15:00:00    NaT  19:00:00
3      1040030       Foley       -1      NaT  19:00:00    NaT  23:59:59
4      1050000    Whittier  1050001      NaT  00:00:00    NaT  23:59:59
...        ...         ...      ...      ...       ...    ...       ...
39509  1031012     Baldwin  1031030      NaT  19:00:00    NaT  23:59:59
39510  1031012     Baldwin  1031032      NaT  00:00:00    NaT  23:59:59
39511  1031014    Thickson  1031016      NaT  00:00:00    NaT  23:59:59
39512  1031014    Thickson  1031018      NaT  05:00:00    NaT  10:00:00
39513  1031014    Thickson  1031020      NaT  10:00:00    NaT  15:00:00

       able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0            3.0        3.0       -1.0         -1          3          3
1            6.0        6.0       -1.0         -1          6          6
2            3.0        3.0       -1.0         -1          3          3
3            6.0        6.0       -1.0         -1          6          6
4            6.0        6.0        NaN         -1          6          6
...          ...        ...        ...        ...        ...        ...
39509       11.0       11.0        4.0          4         11         11
39510       11.0       11.0        4.0          4         11         11
39511       11.0       11.0        4.0          4         11         11
39512        8.0        8.0        4.0          4          8          8
39513       11.0       11.0        4.0          4         11         11

       able4Hov2  able4Hov3
0              3          3
1              6          6
2              3          3
3              6          6
4              6          6
...          ...        ...
39509         11         11
39510         11         11
39511         11         11
39512          8          8
39513         11         11

[39514 rows x 15 columns]
Invalid endDay entries:
         ï»¿id        name     id_2 startDay startTime endDay   endTime  \
0      1040000  Montgomery       -1      NaT  05:00:00    NaT  10:00:00
1      1040010       Black       -1      NaT  10:00:00    NaT  15:00:00
2      1040020     Emerald       -1      NaT  15:00:00    NaT  19:00:00
3      1040030       Foley       -1      NaT  19:00:00    NaT  23:59:59
4      1050000    Whittier  1050001      NaT  00:00:00    NaT  23:59:59
...        ...         ...      ...      ...       ...    ...       ...
39509  1031012     Baldwin  1031030      NaT  19:00:00    NaT  23:59:59
39510  1031012     Baldwin  1031032      NaT  00:00:00    NaT  23:59:59
39511  1031014    Thickson  1031016      NaT  00:00:00    NaT  23:59:59
39512  1031014    Thickson  1031018      NaT  05:00:00    NaT  10:00:00
39513  1031014    Thickson  1031020      NaT  10:00:00    NaT  15:00:00

       able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0            3.0        3.0       -1.0         -1          3          3
1            6.0        6.0       -1.0         -1          6          6
2            3.0        3.0       -1.0         -1          3          3
3            6.0        6.0       -1.0         -1          6          6
4            6.0        6.0        NaN         -1          6          6
...          ...        ...        ...        ...        ...        ...
39509       11.0       11.0        4.0          4         11         11
39510       11.0       11.0        4.0          4         11         11
39511       11.0       11.0        4.0          4         11         11
39512        8.0        8.0        4.0          4          8          8
39513       11.0       11.0        4.0          4         11         11

       able4Hov2  able4Hov3
0              3          3
1              6          6
2              3          3
3              6          6
4              6          6
...          ...        ...
39509         11         11
39510         11         11
39511         11         11
39512          8          8
39513         11         11

[39514 rows x 15 columns]

In [43]:


import pandas as pd

def time_check(df: pd.DataFrame) -> pd.Series:
    """
    Use shared dataset-1 to verify the completeness of the data by checking whether the timestamps 
    for each unique (`id`, `id_2`) pair cover a full 24-hour and 7 days period.

    Args:
        df (pandas.DataFrame): DataFrame containing columns 'id', 'id_2', 'startDay', 'startTime', 
                               'endDay', and 'endTime'.

    Returns:
        pd.Series: Boolean series indicating whether each (id, id_2) pair has incorrect timestamps.
    """
    # Strip leading/trailing spaces from column names
    df.columns = df.columns.str.strip()

    # Combine date and time for start and end timestamps
    df['start'] = pd.to_datetime(df['startDay'].astype(str) + ' ' + df['startTime'].astype(str), errors='coerce')
    df['end'] = pd.to_datetime(df['endDay'].astype(str) + ' ' + df['endTime'].astype(str), errors='coerce')

    # Create a MultiIndex DataFrame grouped by (id, id_2)
    if 'id' in df.columns and 'id_2' in df.columns:
        grouped = df.groupby(['id', 'id_2'])
    else:
        raise KeyError("Columns 'id' and/or 'id_2' are not found in the DataFrame.")

    # Function to check completeness for each group
    def check_group(group):
        days_covered = set()
        for _, row in group.iterrows():
            day_start = row['start'].floor('D')
            day_end = row['end'].floor('D')
            days_covered.update(pd.date_range(day_start, day_end, freq='D').date)
        
        full_week = {0, 1, 2, 3, 4, 5, 6}  # Representing days of the week
        days_of_week = {pd.Timestamp(day).dayofweek for day in days_covered}

        return not days_of_week.issuperset(full_week)

    result = grouped.apply(check_group)
    return result






# Example usage:
# df = pd.read_csv('dataset-1.csv')
incorrect_timestamps = time_check(df)
print(incorrect_timestamps)

C:\Users\user\AppData\Local\Temp\ipykernel_12080\3888300783.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['start'] = pd.to_datetime(df['startDay'].astype(str) + ' ' + df['startTime'].astype(str), errors='coerce')
C:\Users\user\AppData\Local\Temp\ipykernel_12080\3888300783.py:20: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['end'] = pd.to_datetime(df['endDay'].astype(str) + ' ' + df['endTime'].astype(str), errors='coerce')

KeyError: "Columns 'id' and/or 'id_2' are not found in the DataFrame."